{% extends 'student/studentbase.html' %}

{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    a:link {
            text-decoration: none;
        }
    
  </style> 
</head>
<br><br><br>
<h2 style="text-align:center;">Subject Name : {{course.course_name}}  |  Teacher : {{course.course_teacher}}</h2>
<br>
<form method="POST" autocomplete="off" style="margin:100px;margin-top: 0px;">
    {%csrf_token%}
    <div class="form-group">
        
      <label for="id_exam_key">PROVIDE EXAM KEY</label>
      <input type="password" name="exam_key" maxlength="10" class="form-control" placeholder="******" required id="id_exam_key">  
      
    </div>
    

    <button type="submit" class="btn btn-success" style="border-radius: 0%;">Submit Exam Key</button>
  </form>
  <h5 style="    text-align: center!important; color: red;" >{{error}}</h5>
  <!-- <h3>Your total Attempt {{result}}</h3> -->
<br><br>
{% endblock content %}